on:
  workflow_dispatch:
  push:
    paths-ignore:
      - 'cloud/**'
      - 'doc/**'
      - 'fuzzer/**'
      - 'ide/**'
      - 'kobo/**'
      - 'python/**'
      - '.github/workflows/build-container.yml'
      - '.github/workflows/build-unix.yml'
      - '.readthedocs.yaml'
    branches:
      - master
    tags:
      - 'v*'

  pull_request:
    paths-ignore:
      - 'cloud/**'
      - 'doc/**'
      - 'fuzzer/**'
      - 'ide/**'
      - 'kobo/**'
      - 'python/**'
      - '.github/workflows/build-container.yml'
      - '.github/workflows/build-unix.yml'
      - '.readthedocs.yaml'
    branches:
      - master

env:
  DEBUG: y
  BOOST: boost_1_85_0

jobs:
  release:
    name: "Create Release"
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: True

      - name: Parse changelog
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          TAG=$(echo "${{ github.ref }}" | cut -f3 -d '/')
          echo "TAG=$TAG" >> $GITHUB_ENV
          echo 'CHANGELOGENTRY<<EOF' >> $GITHUB_ENV
          ./tools/changelog.sh "$TAG" >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV
          case "$TAG" in
            *-rc*)
              echo "PRERELEASE=true" >> $GITHUB_ENV
              ;;
            *)
              echo "PRERELEASE=false" >> $GITHUB_ENV
              ;;
          esac
        id: changelogentry

      - name: Create release
        id: create_release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: ncipollo/release-action@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          allowUpdates: true
          name: Version ${{ github.ref_name }}
          body: ${{ env.CHANGELOGENTRY }}
          prerelease: ${{ env.PRERELEASE }}

  build:
    runs-on: ${{ matrix.os }}
    needs: release
    container: ${{ matrix.target_container }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            target: UNIX
            target_bin: xcsoar_$(echo "${{ github.ref }}" | cut -f3 -d '/')-amd64
            target_bin_path: ../../
            target_final: xcsoar_
            target_ext: deb
            target_upload: true
            target_container: debian:bookworm-slim
          - os: ubuntu-22.04
            target: KOBO
            target_bin: KoboRoot
            target_bin_path: ''
            target_final: KoboRoot
            target_ext: .tgz
            target_upload: true
            target_container: debian:bookworm-slim
          - os: ubuntu-22.04
            target: ANDROID
            target_bin: XCSoar-debug
            target_bin_path: bin
            target_final: XCSoar
            target_ext: .apk
            target_upload: true
            ndk: r26d
            target_container: debian:bookworm-slim
          - os: ubuntu-22.04
            target: WIN64
            target_bin: XCSoar
            target_bin_path: bin
            target_final: XCSoar
            target_ext: .exe
            target_upload: true
            target_container: debian:bookworm-slim
          - os: ubuntu-22.04
            target: PC
            target_bin: XCSoar
            target_bin_path: bin
            target_final: XCSoar
            target_ext: .exe
            target_upload: true
            target_container: debian:bookworm-slim
          - os: macos-12
            target: OSX64
            target_bin: XCSoar
            target_bin_path: bin
            target_final: XCSoar
            target_ext: .dmg
            target_upload: false
            target_container: ''

    steps:
      - name: Install checkout dependencies
        run: |
          if [ "${{ matrix.os }}" = 'ubuntu-22.04' ]; then
            apt-get update
            apt-get install -y --no-install-recommends git \
            ca-certificates
          fi
      - name: Set vars for release
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          echo "DEBUG=n" >> $GITHUB_ENV
          if [ ${{ matrix.target }} = "xcsoar" ]; then
            echo "TARGET_FINAL=xcsoar" >> $GITHUB_ENV
          fi

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Cache ccache
        uses: hendrikmuhs/ccache-action@v1
        with:
          key: ${{ matrix.target }}-ccache

      - name: "Cache Boost"
        uses: actions/cache@v4
        with:
          key: ${{ env.BOOST }}-${{ hashFiles('lib/boost/patches/**') }}
          path: |
            ${{ github.workspace }}/output/download/${{ env.BOOST }}.tar.bz2
            ${{ github.workspace }}/output/src/stamp-${{ env.BOOST }}
            ${{ github.workspace }}/output/src/${{ env.BOOST }}/boost

      - name: Install dependencies
        run: |
          if [ ${{ matrix.os }} = 'ubuntu-22.04' ]; then
            ./ide/provisioning/install-debian-packages.sh UPDATE
            ./ide/provisioning/install-debian-packages.sh BASE
            if [ ${{ matrix.target }} = 'UNIX' ]; then
              ./ide/provisioning/install-debian-packages.sh LINUX
              ./ide/provisioning/install-debian-packages.sh LIBINPUT_GBM
              ./ide/provisioning/install-debian-packages.sh DEBIAN
            fi
            if [ ${{ matrix.target }} = 'KOBO' ]; then
              ./ide/provisioning/install-debian-packages.sh LINUX
              ./ide/provisioning/install-debian-packages.sh ARM
              ./ide/provisioning/install-debian-packages.sh KOBO
            fi
            if [ ${{ matrix.target }} = 'WIN64' ]; then
              ./ide/provisioning/install-debian-packages.sh LINUX
              ./ide/provisioning/install-debian-packages.sh WIN
            fi
            if [ ${{ matrix.target }} = 'PC' ]; then
              ./ide/provisioning/install-debian-packages.sh LINUX
              ./ide/provisioning/install-debian-packages.sh WIN
            fi
            if [ ${{ matrix.target }} = 'ANDROID' ]; then
              ./ide/provisioning/install-debian-packages.sh LINUX
              ./ide/provisioning/install-debian-packages.sh ARM
              ./ide/provisioning/install-debian-packages.sh LLVM
              ./ide/provisioning/install-debian-packages.sh ANDROID
              ./ide/provisioning/install-android-tools.sh NDK
            fi
            ./ide/provisioning/install-debian-packages.sh CLEAN
          elif [ ${{ matrix.os }} = 'macos-12' ]; then
            brew install \
              make \
              quilt \
              librsvg \
              imagemagick gettext sox \
              fmt \
              sdl2 \
              libsodium \
              freetype \
              libpng libjpeg-turbo \
              libtiff libgeotiff proj \
              c-ares \
              curl \
              lua
          fi

      - name: Find githash
        run: |
          git config --global --add safe.directory /__w/XCSoar/XCSoar
          echo "git_hash=$(git rev-parse --short $GITHUB_SHA)" >> $GITHUB_ENV

      - name: Compile XCSoar
        run: |
          if [ ${{ matrix.target }} = "ANDROID" ]; then
            make -j$(nproc) TARGET=${{ matrix.target }} DEBUG=${{ env.DEBUG }} USE_CCACHE=y V=2
          elif [ ${{ matrix.target }} = "UNIX" ]; then
            DEB_BUILD_OPTIONS=ccache dpkg-buildpackage --jobs-force=$(nproc) --no-sign
          elif [ ${{ matrix.target }} = "WIN64" ]; then
            make -j$(nproc) TARGET=${{ matrix.target }} DEBUG=${{ env.DEBUG }} USE_CCACHE=y V=2 everything
          elif [ ${{ matrix.target }} = "PC" ]; then
            make -j$(nproc) TARGET=${{ matrix.target }} DEBUG=${{ env.DEBUG }} USE_CCACHE=y V=2 everything
          elif [ ${{ matrix.target }} = "KOBO" ]; then
            make -j$(nproc) TARGET=${{ matrix.target }} DEBUG=${{ env.DEBUG }} USE_CCACHE=y V=2 output/${{ matrix.target }}/${{ matrix.target_bin }}${{ matrix.target_ext }}
          elif [ ${{ matrix.target }} = "OSX" ]; then
            make -j$(nproc) TARGET=${{ matrix.target }} DEBUG=${{ env.DEBUG }} USE_CCACHE=y V=2 output/${{ matrix.target }}/${{ matrix.target_bin }}${{ matrix.target_ext }} dmg
          else
            make -j$(nproc) TARGET=${{ matrix.target }} DEBUG=${{ env.DEBUG }} USE_CCACHE=y V=2 everything
          fi

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.target_final }}-${{ env.git_hash }}${{ matrix.target }}${{ matrix.target_ext }}
          path: output/${{ matrix.target }}/${{ matrix.target_bin_path }}/${{ matrix.target_bin }}${{ matrix.target_ext }}

      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        if: |
          startsWith(github.ref, 'refs/tags/v') &&
          ${{ matrix.target_upload }} = "true"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: output/${{ matrix.target }}/${{ matrix.target_bin_path }}/${{ matrix.target_bin }}${{ matrix.target_ext }}
          asset_name: ${{ matrix.target_final }}-${{ matrix.target }}${{ matrix.target_ext }}
          asset_content_type: application/zip

      - name: Deploy to Download server - testing
        if: ${{ github.repository == 'XCSoar/XCSoar' && github.ref == 'refs/heads/master' && github.event_name == 'push' }}
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.REPOSITORY_SSH_KEY }}
          ARGS: "-rltgoDzvO"
          SOURCE: output/${{ matrix.target }}/${{ matrix.target_bin_path }}/${{ matrix.target_bin }}${{ matrix.target_ext }}
          REMOTE_HOST: ${{ secrets.REPOSITORY_HOST }}
          REMOTE_USER: ${{ secrets.REPOSITORY_SSH_USER }}
          TARGET: ${{ secrets.REPOSITORY_REMOTE_PATH }}/testing/${{ matrix.target }}/

      - name: Deploy to Download server - release
        if: ${{ github.repository == 'XCSoar/XCSoar' && startsWith(github.ref, 'refs/tags/v') && github.event_name == 'push' && matrix.target_upload == 'true' }}
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.REPOSITORY_SSH_KEY }}
          ARGS: "-rltgoDzvO"
          SOURCE: output/${{ matrix.target }}/${{ matrix.target_bin_path }}/${{ matrix.target_bin }}${{ matrix.target_ext }}
          REMOTE_HOST: ${{ secrets.REPOSITORY_HOST }}
          REMOTE_USER: ${{ secrets.REPOSITORY_SSH_USER }}
          TARGET: ${{ secrets.REPOSITORY_REMOTE_PATH }}/testing/${{ matrix.target }}/


  test-windows:
    runs-on: windows-latest
    needs: build
    strategy:
      matrix:
        os: [windows-latest]
        target: [WIN64, PC]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install dependencies
        run: |
          choco install make
          choco install winflexbison3
          choco install rsync
          choco install strawberryperl
          choco install imagemagick
          choco install sox.portable
          choco install jom

      - name: Build XCSoar
        run: |
          set MSYSTEM=MINGW64
          pacman -Syu --noconfirm
          pacman -S --noconfirm mingw-w64-x86_64-toolchain mingw-w64-x86_64-cmake mingw-w64-x86_64-ninja
          mingw32-make -j$(nproc) TARGET=${{ matrix.target }} DEBUG=y USE_CCACHE=y V=2 everything

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: XCSoar-${{ matrix.target }}-debug.exe
          path: output/${{ matrix.target }}/bin/XCSoar.exe
